---
export interface Props {
    title: string;
    body: string;
    avatar: string;
    altAvatar: string;
}

const { title, body, avatar, altAvatar } = Astro.props;
---


<div>
    <img src={avatar} alt={altAvatar}>
    <h3>{title}</h3>
    <p>{body}</p>
    <slot />
</div>